@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --flower-margin: 40%;
  --square-count: 16;
}

body {
  background-color: #FAF9F6;
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;

  -webkit-overscroll-behavior: none;
  -ms-overscroll-behavior: none;
  overscroll-behavior: none;
}

.shadow-black {
  text-shadow: 0.3rem 0.3rem #181717;
}

.shadow-red {
  text-shadow: 0.3rem 0.3rem #fe6d73;
}

.shadow-yellow {
  text-shadow: 0.3rem 0.3rem #ffcb77;
}

.shadow-green {
  text-shadow: 0.3rem 0.3rem #17c3b2;
}

.shadow-blue {
  text-shadow: 0.3rem 0.3rem #227c9d;
}

.page-mask-1 {
  mask: url(#page-clip-1);
}

.page-mask-2 {
  mask: url(#page-clip-2);
}

.page-mask-3 {
  mask: url(#page-clip-3);
}

.page-mask-4 {
  mask: url(#page-clip-4);
}

.page-mask-5 {
  mask: url(#page-clip-5);
}

.page-mask-6 {
  mask: url(#page-clip-6);
}

.page-mask-7 {
  mask: url(#page-clip-7);
}

.page-mask-8 {
  mask: url(#page-clip-8);
}

.page-mask-9 {
  mask: url(#page-clip-9);
}

.page-mask-10 {
  mask: url(#page-clip-10);
}

.page-mask-11 {
  mask: url(#page-clip-11);
}

.page-grid {
  display: grid;
  z-index: 10;
  /* 100/var(--square-count) */
  /* grid-template-columns: repeat(var(--square-count), max(6.25svw, 6.25svh));
  grid-template-rows: repeat(var(--square-count), max(6.25svw, 6.25svh)); */
  grid-template-columns: repeat(var(--square-count), max(calc(100svw / var(--square-count)), calc(100svh / var(--square-count))));
  grid-template-rows: repeat(var(--square-count), max(calc(100svw / var(--square-count)), calc(100svh / var(--square-count))));
}

.page-square {
  background-color: #FAF9F6;
  /* border: calc(max(6.25svw, 6.25svh)/100) solid #181717; */
  /* border: max(0.062svw, 1px) solid #181717; */
  /* border: clamp(1px, calc(100svw / var(--square-count) / 100), 4px) solid #181717; */
	border: 1px solid #181717;
  box-sizing: content-box;
}

.page {
  @apply absolute top-0 left-0 w-full h-full pointer-events-none bg-transparent font-mono text-heading text-black;
  z-index: -50;
}

.square-heading {
  font-size: calc(max(7.2svw, 7.2svh) * 0.7);
  line-height: 0.8;
}

.show {
  z-index: 50;
}

.scroll-quarter {
  animation: slide-quarter 10s linear infinite;
}

@keyframes slide-quarter {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 2rem solid #181717;
}

.party-brick {
  @apply bg-white absolute text-black border-2 border-black box-border text-nowrap;
  width: max-content;
  height: max-content;
  -webkit-user-select: auto;
  user-select: auto;
  pointer-events: all;
}

.hidden-brick {
  @apply absolute top-0 w-full h-full z-20 pointer-events-auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flower.top-left {
  transform: translateX(calc(0% + var(--flower-margin))) translateY(calc(0% + var(--flower-margin)));
}

.flower.top-center {
  transform: translateX(calc(50svw - 50%)) translateY(calc(0% + var(--flower-margin)));
}

.flower.top-right {
  transform: translateX(calc(100svw - 100% - var(--flower-margin))) translateY(calc(0% + var(--flower-margin)));
}

.flower.center-left {
  transform: translateX(calc(0% + var(--flower-margin))) translateY(calc(50svh - 50%));
}

.flower.center-center {
  transform: translateX(calc(50svw - 50%)) translateY(calc(50svh - 50%));
}

.flower.center-right {
  transform: translateX(calc(100svw - 100% - var(--flower-margin))) translateY(calc(50svh - 50%));
}

.flower.bottom-left {
  transform: translateX(calc(0% + var(--flower-margin))) translateY(calc(100svh - 100% - var(--flower-margin)));
}

.flower.bottom-center {
  transform: translateX(calc(50svw - 50%)) translateY(calc(100svh - 100% - var(--flower-margin)));
}

.flower.bottom-right {
  transform: translateX(calc(100svw - 100% - var(--flower-margin))) translateY(calc(100svh - 100% - var(--flower-margin)));
}

.flower {
  width: min(12svw, 12svh);
  height: min(12svw, 12svh);
  mix-blend-mode: difference;
  transition: transform 1.1s;
}

.petal {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  width: 20%;
  height: 20%;
  font-size: clamp(0.5rem, 0.7svw + 0.5rem, 2rem);
  transition: transform 0.5s;
}

.petal-text {
  @apply w-full h-full flex justify-center items-center text-white;
}

.expanded .petal-text {
  transform: translateY(-180%) scale(1.5);
  transition: transform 0.5s;
}

.contracted .petal-text {
  transform: translateY(-120%) scale(1);
  transition: transform 0.5s;
}

.petal-container {
  width: max(calc(min(12svw, 12svh) * 2), 5rem);
  height: max(calc(min(12svw, 12svh) * 2), 5rem);
  mix-blend-mode: difference;
}

.rotate-full {  
  animation: full-rotation 10s linear infinite;
}

@keyframes full-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  } 
}

.next-text {
  font-size: clamp(0.5rem, 4svw + 1rem, 6rem);
  line-height: 80%;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.yes-select {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.fold-contracted {
  clip-path: polygon(0 0, 0 clamp(1.5rem, 2svw + 1rem, 5rem), clamp(1.5rem, 2svw + 1rem, 5rem) 0);
  transition: clip-path 1s;
}

.fold-expanded {
  clip-path: polygon(0 0, 0 200%, 200% 0);
  transition: clip-path 1s;
}

.inline-svg {
  width: 0.9em;
  height: 0.9em;
}

.single-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.span-grid {
  grid-area: 1 / 1 / -1 / -1;
}

.full-stack {
  @apply w-full h-full flex flex-col;
}

.kinetic-char {
  @apply font-mono pointer-events-auto absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: clamp(0rem, 1lvmax, 0.15rem) #ffffff;
  transform-style: preserve-3d;
  transform-origin: center;
  color: #ffffff00;
}

.kinetic-pivot {
  position: absolute;
  top: 0;
  left: 50%;
  transform-style: preserve-3d;
}

.kinetic-word {
  transform-style: preserve-3d;
}

.kinetic-container {
  @apply text-kinetic;
  perspective: 30em;
  position: relative;
  left: -0.25em;
}

.level-button {
  @apply border-2 border-white p-2 relative pointer-events-auto;
  cursor: pointer;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: box-shadow 0.2s, top 0.2s, left 0.2s;
  outline: none;
}

.level-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
  transition: box-shadow 0.2s, top 0.2s, left 0.2s;
}

.level-arrow {
  position: absolute;
  top: -10%;
  left: -25%;
  width: 25%;
  transform-origin: center right;
  transform: rotateY(90deg);
  transition: transform 0.6s;
}

.level-arrow.active {
  transform: rotateY(0deg);
  transition: transform 0.6s;
}

.paint-grid {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-auto text-center overflow-hidden bg-transparent;
  width: clamp(0rem, min(80svh, 80svw), 100rem);
  height: clamp(0rem, min(80svh, 80svw), 100rem);
  font-family: "Azeret Mono", monospace;
  font-weight: 900;
  font-size: 14%;
}

.jawline path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  fill: none;
}

#jawline-main-1 path {
  stroke-dasharray: 30;
}

#jawline-main-2 path {
  stroke-dasharray: 35;
}

#jawline-main-3 path {
  stroke-dasharray: 40;
}

#jawline-main-4 path {
  stroke-dasharray: 45;
}

.jawline-main-1-animation {
  animation: jawline-main-dash-1 2s linear infinite;
}

.jawline-main-2-animation {
  animation: jawline-main-dash-2 3s linear infinite;
}

.jawline-main-3-animation {
  animation: jawline-main-dash-3 5s linear infinite;
}

.jawline-main-4-animation {
  animation: jawline-main-dash-4 7s linear infinite;
}

@keyframes jawline-main-dash-1 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 60;
  }
}

@keyframes jawline-main-dash-2 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 70;
  }
}

@keyframes jawline-main-dash-3 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 80;
  }
}

@keyframes jawline-main-dash-4 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 90;
  }
}

.three-arrow-container {
  @apply absolute top-1/2 -translate-y-1/2 flex flex-col justify-center;
  width: min(7.5svw, 7.5rem);
  height: min(7.5svw, 7.5rem);
}

.three-arrow {
  position: relative;
  width: 75%;
  height: 75%;
  transform-origin: center;
}

.three-arrow-left {
  @apply self-end;
  animation: arrow-move-left 2s ease-in-out infinite;
}

.three-arrow-right {
  @apply self-start;
  animation: arrow-move-right 2s ease-in-out infinite;
}

@keyframes arrow-move-left {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0%);
  }
}
  
@keyframes arrow-move-right {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
}